.Header-wrapper {
    background-color: #1372B9;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    box-shadow: 0 2px 3px -3px white;
    width: 100%;
}


.Header-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Header-image-wrapper {
    width: 225px;
}
